<footer>
    <address>
        <span class="fas fa-phone fa-pulse fa-1.3x"></span>
        Contact: Telefon
        <a href="tel:0777000000">0777000000</a>
        Adresa de e-mail:
        <a href="mailto:webmaster@example.com">Pet Mania</a>.
        <br> Adresa : Calea Victoriei 155, Bucuresti, Romania
    </address>

    <a href="#" id="circlee" title="Inceputul paginii">
        <div id="arrow-upp"></div>
    </a>
    
   
    <small>Acest site este protejat de drepturi de autor &copy;</small>
    <br>
    <small>Data creeare site 07.03.2021</small>
    <time datetime="2021-03-07"></time>
    
    </footer>