    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="author" content="Lupascu Miruna-Stefania">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
    <title>PetMania</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/meniu.css" rel="stylesheet" type="text/css">
    <link href="/css/video.css" rel="stylesheet" type="text/css">
    <link href="/css/galerie-anim.css" rel="stylesheet" type="text/css">
    <link href="/css/galerie-static.css" rel="stylesheet" type="text/css">
    <link href="/css/stilizare-node.css" rel="stylesheet" type="text/css">
    <link href="/css/nav-500.css" rel="stylesheet" type="text/css" media="screen and (max-width:650px)">
    <link href="/css/style-1200.css" rel="stylesheet" type="text/css" media="screen and (max-width:1200px)">
    <link href="/css/printare.css" rel="stylesheet" type="text/css" media="print">
    <!--<link href="./style-500.css" rel="stylesheet" type="text/css" media="screen and(max-width:500px)">
    -->
    <script src="https://kit.fontawesome.com/5b39e0da30.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
