<!DOCTYPE html>
<html lang = "ro">
    <head>
        <meta name="keywords" content="caine, pisica, petshop">
        <meta name="description" content="Pet Shop. Animalute, mancare si accesorii">
        <title>PetMania</title>

        <%- include("../fragmente/head") %>
    </head>

    <body>
        <%- include("../fragmente/header") %>
    <main>
        <section>
            <h2>404 - page not found</h2>
           
        </section>
    </main>

    <%- include("../fragmente/footer") %>
    
    </body>
</html>