<!DOCTYPE html>
<html lang="ro">

<head>

    <meta name="keywords" content="caine, pisica, petshop">
    <meta name="description" content="Pet Shop. Animalute, mancare si accesorii">
    <title>PetMania</title>
    <%- include("../fragmente/head") %>

</head>


<body>
    <%- include("../fragmente/header") %>
    <!-- de modificat -->
    <img src="/images/caine.png" alt="imagine caine" title="caine care zambeste" style="width:50%;" />

    <%- include("../fragmente/footer") %>
</body>

</html>