/*GALERIE ANIMATA*/

#grid-galerie-anim
{
    display: grid;
    grid-template-columns: repeat($nr_cur_imag,1fr);

grid-gap: 2rem;
padding: var(--padding-intern);
border: black;
animation: mymove 5s infinite;
}

@keyframes mymove{

}
#grid-galerie-anim:hover figure{
    animation-play-state: paused;   
}



/*INCERCARE PE W3SCHOOL

<!DOCTYPE html>
<html>
<head>
<style> 

#F1 { grid-area: f1; background: red;}
#F2 { grid-area: f2; background: yellow;}
#F3 { grid-area: f3; background: blue;}
#F4 { grid-area: f4; background: aqua;}
#F5 { grid-area: f5; background: black;}
#F6 { grid-area: f6; background: orange;}
#F7 { grid-area: f7; background: purple;}
#F8 { grid-area: f8; background: green;}
#F9 { grid-area: f9; background: brown;}

#grid-galerie-anim
{
    display: grid;
    grid-template-areas:'f1 f3 f2'
                        'f7 f4 f5'
                        'f9 f8 f6';

grid-gap: 0rem;
border: black;
animation-name: mymove;
animation-iteration-count: infinite;
animation-timing-function: linear;
animation-duration: 7s;
 transform-origin: 0 0;
}
div {
  width: 100px;
  height: 100px;
  
  
}

#grid-galerie-anim:hover {
  animation-play-state: paused;
}

@keyframes mymove {
  0% {
    transform: scale(1.4);
 
  
}
50% {
   transform: scale(1.25) translateY(-30%);
    }
 100% {
    transform: scale(1.4);
  
  
}   
    }



    @keyframes mymove {
0% {
   transform: scale(1) ;
   
    }
  5% {
    transform: scale(3) translateX(33%) translateY(33%);
 
}
10% {
   transform: scale(1) ;
    }
 15%{
 transform: scale(3.33) translateX(-166%) translateY(33%);
 }
 20% {
   transform: scale(1) ;
    }
 25%{
 transform: scale(3.33) translateY(33%);
 }
 
 30% {
   transform: scale(1) ;
    }
  35%{
 transform: scale(3.33);
 } 
  40% {
   transform: scale(1) ;
    }
 
 100% {
    transform: scale(1);
  
  
}   
    }
</style>
</head>
<body>
<div id="grid-galerie-anim">
                <div id='F1'></div>
                <div id='F2'></div>
                <div id='F3'></div>
                <div id='F4'></div>
                <div id='F5'></div>
                <div id='F6'></div>
                <div id='F7'></div>
                <div id='F8'></div>
                <div id='F9'></div>
</div>


</body>
</html>


*/